# Object files
*.o
*.ko
*.obj
*.elf
*.o.*

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.cmd

# Debug files
*.dSYM/
*.su

# Builds
build/
_install
_postbuild
_postinstall
_preinstall
simple_router
simple_router.map
